.add-btn{
    padding:15px 30px ;
    margin: 35px;
    background-color: #5eaf28;
    color: #fff;
    text-transform: uppercase;
    font-size: medium;
    font-weight:bolder;
    border: 0;
    cursor: pointer;
}
.user-details{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 35px;
    font-family: bold;
    font-weight:bolder;
    color: #747574;
    text-transform: uppercase;
    font-size: large;
    cursor: pointer;
}