.add-btn{
    padding:15px 30px ;
    margin: 35px;
    background-color: #5eaf28;
    color: #fff;
    text-transform: uppercase;
    font-size: medium;
    font-weight:bolder;
    border: 0;
    cursor: pointer;
}
.user-headingDetails{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 35px;
    font-family: bold;
    font-weight:bolder;
    color: #747574;
    font-size: large;
    cursor: pointer;
    
}
.user-details{
    font-family: sans-serif;
    margin-top: 30px;
    color: black;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    width: 41.3%;
    margin-left: 35px;
    
    
}